log/
*.log
*.class
!**/src/main/**
!**/src/test/**

### macOS ###
._*
*.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
# Icon\r 文件，此处需要两个 \r 作为结尾
Icon

### Spring Boot ###
HELP.md

### Vert.x ###
.vertx/

### Maven ###
!.mvn/wrapper/maven-wrapper.jar
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### Gradle ###
!gradle/wrapper/gradle-wrapper.jar
.gradle
gradle-app.setting
.gradletasknamecache
build/

### Apache Ant ###
build.properties

### Eclipse & Spring Tool Suite ###
.autotools
.apt_generated
.buildpath
.cache-main
.classpath
.cproject
.externalToolBuilders/
.factorypath
.loadpath
.metadata
.mtj.tmp/
.project
.recommenders
.scala_dependencies
.settings
.springBeans
.sts4-cache
.target
.tern-project
.texlipse
.worksheet
bin/
tmp/
*.bak
*.launch
*.pydevproject
*.tmp
*~.nib
local.properties

### NetBeans ###
nbproject/private/
buildTool/
nbbuild/
dist/
nbdist/
.nb-gradle/
nb-configuration.xml

### VS Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Vim ###
*.swp
*.swo

### BlueJ ###
*.ctxt

# JVM 崩溃日志
hs_err_pid*
# 图片缩略图
Thumbs.db
# 压缩包
*.tar
*.gz
*.rar
*.zip
# 程序包
*.nar
*.ear
# 补丁文件
*.orig
*.rej

### IntelliJ IDEA 常用配置 ###
## 该配置将排除整个 .idea 文件夹
## 如果你想将部分 IDEA 项目设置也提交到代码库，请使用下一段的“详细”配置，并注释掉本段的配置
.idea
*.iws
*.iml
*.ipr
out/